body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    /*height: 500px;*/
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row; /* default row*/
    justify-content: center; /* default flex-start*/
    /*flex-wrap: wrap;*/
    /*align-items: center; !* default flex-start*!*/
    /*align-content: space-between;*/
}


#container div {
    width: 200px;
    height: 200px;
    text-align: center;
    flex-basis: 200px; /* defines the initial size of an element before additional space is distributed */
}

/* flex:  flex-grow | flex-shrink | flex-basis */

div:nth-of-type(1){
    flex-grow: 1;
    flex-shrink: 2;

}
div:nth-of-type(5){
    flex-grow: 2;
    flex-shrink: 0;
}


main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: #6930c3;
    border: 2px solid white;
    flex: 1 2 3000px;
}

main .maincontent {
    background-color: #80ffdb;
    flex: 2 1 800px;
}