section {
    width: 80%;
    height: 800px;
    /*background-image: url("https://images.unsplash.com/photo-1459802071246-377c0346da93?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c3BsYXNofGVufDB8fDB8fHww");*/
    /*background-size: cover;*/
    /*background-position: bottom;*/
    background: no-repeat center/cover url("https://images.unsplash.com/photo-1459802071246-377c0346da93?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c3BsYXNofGVufDB8fDB8fHww");
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: white;
}