body {
    font-family: "Montserrat", sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    font-weight: 100;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h1,h2,h2,h3 {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

h1 + h2 {
    margin-top: 10px;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
